.timeline-content p{
    margin-bottom: 5px !important;
}
.state-success.input-wrapper:before,
.state-success.input-wrapper:after {
    background: #5cb85c !important;
}
.state-error.input-wrapper:before,
.state-error.input-wrapper:after {
    background: #d9534f !important;
}
em.invalid{
    font-size: 14px;
    color: #d9534f;
}
.real-time-icon{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    background: rgba(0,0,0,0.2);
}
.real-time-box{
    display: block;
    min-height: 130px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
    padding:10px;
}
.real-time-content{
    padding: 5px 10px;
    margin-left: 75px;
    font-size: 16px;
}
.real-color1{
    color: #f4b600;
}
.real-color2{
    color: #019587;
}
.real-color3{
    color: #e44c3f;
}
.real-color4{
    color: #263f5c;
}
.real-color5{
    color: #a10f2b;
}
.hexagon i{
    color: #fff;
}
.btn-border-real-box-left1{
    border-bottom: 5px solid #b58700;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-right1{
    border-bottom: 5px solid #f4b600;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-left2{
    border-bottom: 5px solid #005951;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-right2{
    border-bottom: 5px solid #019587;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-left3{
    border-bottom: 5px solid #750c03;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-right3{
    border-bottom: 5px solid #e44c3f;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-left4{
    border-bottom: 5px solid #0c151d;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-right4{
    border-bottom: 5px solid #263f5c;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-left5{
    border-bottom: 5px solid #560817;
    padding: 0;
    margin-top: 10px;
}
.btn-border-real-box-right5{
    border-bottom: 5px solid #a10f2b;
    padding: 0;
    margin-top: 10px;
}
.jsgrid-table a.btn{
    padding: 0 5px !important;
}
.audit-select .bootstrap-select{
    margin-bottom: 0 !important;
}
.bootstrap-select.btn-group .dropdown-menu li a{
    min-width: 140px !important;
}
.form-body label{
    font-size: 14px;
    font-weight: 500;
}
.hexagon {
    position: relative;
    width: 70px;
    height: 40.41px;
    margin: 20.21px 0;
    font-size: 44px;
    padding: 0 12px;
    line-height: 40px;
    text-align: center;
}
.hexagon-bg1{
    background-color: #f4b600;
}
.hexagon-bg2{
    background-color: #019587;
}
.hexagon-bg3{
    background-color: #e44c3f;
}
.hexagon-bg4{
    background-color: #263f5c;
}
.hexagon-bg5{
    background-color: #a10f2b;
}
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    left: 0;
}

.hexagon:after {
    top: 100%;
    width: 0;
    left: 0;
}
.hexagon-bg1:before{
    border-bottom: 20.21px solid #f4b600;
}
.hexagon-bg2:before{
    border-bottom: 20.21px solid #019587;
}
.hexagon-bg3:before{
    border-bottom: 20.21px solid #e44c3f;
}
.hexagon-bg4:before{
    border-bottom: 20.21px solid #263f5c;
}
.hexagon-bg5:before{
    border-bottom: 20.21px solid #a10f2b;
}
.hexagon-bg1:after{
    border-top: 20.21px solid #f4b600;
}
.hexagon-bg2:after{
    border-top: 20.21px solid #019587;
}
.hexagon-bg3:after{
    border-top: 20.21px solid #e44c3f;
}
.hexagon-bg4:after{
    border-top: 20.21px solid #263f5c;
}
.hexagon-bg5:after{
    border-top: 20.21px solid #a10f2b;
}
.jsgrid-table input{
    background-color: #d6e8eb ;
    border: none;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 59, 67, 0.80);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 159, 176, 0.80);
}
.timeline .frame .timeline-badge{
    position: relative;
    width: 35px;
    height: 20.21px;
    background-color: #64C7CC;
    margin: 10.10px 0;
    border: none;
    border-radius: 0;
    float: left;
    text-align: center;
}
.timeline-badge:before,
.timeline-badge:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 17.5px solid transparent;
    border-right: 17.5px solid transparent;
}
.timeline-badge:before {
    bottom: 100%;
    border-bottom: 10.10px solid #64C7CC;
    left: 0;
}

.timeline-badge:after {
    top: 100%;
    width: 0;
    border-top: 10.10px solid #64C7CC;
    left: 0;
}
.panel-body.hexagon-bg{
    background-image: url("../img/top-panel-bg.png") ;
    background-repeat: repeat-x ;
}
.note-bottom-striped{
    border-width: 0 0 2px 0;
    border-radius: 0;
}
.form-body hr{
    margin-top: -20px;
    border: 0;
    border-top: 7px solid #eeeeee;
}
.panel-body .panel-title{
    padding: 13px 20px 13px 20px;
    font-size: 18px
}
.panel > .panel-heading.with-gap {
    padding: 0;
    border-radius: 0;
    border-bottom: 10px solid #F7F7F7;
}
select{
    overflow: auto;
}

.logout-btn{
    position: fixed;
    z-index: 4;
    top: 120px;
    left: 5px;
    width: 70px;
    padding: 27px 20px 0 0px;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0 !important;

}
.entity h4{
    margin-bottom: 0!important;
    font-size: 14px;
    font-weight: 700;
}
.entity a,th,td{
    font-size: 12px !important;
}
table.dataTable tbody th, table.dataTable tbody td{
    padding: 0 10px !important;
}